on:
  push:
    branches:
      - main

jobs:
  LinuxImage:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@main
      with:
        submodules: true

    - name: Copiler
      run: sudo bash Build.sh

    - name: Upload To Releases
      uses: softprops/action-gh-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        name: DockerImage
        tag_name: "${{ github.run_id }}"
        files: |
          linux.tar
          Debian*
